<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Haven-ERP</display-name>							  
  <welcome-file-list>
    <welcome-file>/WEB-INF/index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>controller</servlet-name>
    <servlet-class>web.Controller</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  
  <servlet>
        <servlet-name>save</servlet-name>
        <jsp-file>/WEB-INF/pages/staffSaved.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>save</servlet-name>
        <url-pattern>/savedstaff</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>read</servlet-name>
        <jsp-file>/WEB-INF/pages/readStaff.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>read</servlet-name>
        <url-pattern>/Harambe</url-pattern>
    </servlet-mapping>
  
</web-app>